<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Profile Page</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Africa</a></li>
                    <li class="breadcrumb-item active">Profile Page</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-md-6 col-xl-3">

        <!-- Simple card -->
        <div class="card">
            <img class="card-img-top img-fluid" src="public/assets/images/title/<%= user.title %>.jpg" alt="<%= user.username %>">
            <div class="card-body">
                <h4 class="card-title mt-0"><%= user.firstName + ' ' + (user.lastName ? user.lastName : '') %></h4>
                <p class="card-text">@<%= user.username %></p>
                <p class="card-text">Telegram ID: <%= user.telegramId %></p>
                <% if (joinDate) { %>
                <p class="card-text">Joined At: <%= moment(joinDate).format('YYYY-MM-DD') %></p>
                <% } %>
                <% if (result.length) { %>
                    <p class="card-text">Overall Points: <%= result[0].sum_point %></p>
                <% } %>
                <p class="card-text">Overall Rank: <%= rank %></p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title mt-0 mb-2">Podium</h4>
                <p><img src="public/assets/images/gold-cup.png" style="width: 20px; height: 20px; margin-right: 5px;"/> <%= rResult[0] %> time<%= rResult[0] > 1 ? 's' : '' %></p>
                <p><img src="public/assets/images/silver-cup.png" style="width: 20px; height: 20px; margin-right: 5px;"/> <%= rResult[1] %> time<%= rResult[1] > 1 ? 's' : '' %></p>
                <p><img src="public/assets/images/third-cup.png" style="width: 20px; height: 20px; margin-right: 5px;"/> <%= rResult[2] %> time<%= rResult[2] > 1 ? 's' : '' %></p>
            </div>
        </div>

        <% if (rResult[0] >= 50) { %>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mt-0 mb-2">Trophies</h4>
                    <% if (rResult[0] >= 200) {%>
                        <img src="public/assets/images/trophies/legend.jpg" style="width: 100%"/>
                    <% } else if (rResult[0] < 200 && rResult[0] >= 100) {%>
                        <img src="public/assets/images/trophies/lion.jpg" style="width: 100%"/>
                    <% } else if (rResult[0] < 100 && rResult[0] >= 50) {%>
                        <img src="public/assets/images/trophies/love.jpg" style="width: 100%"/>
                    <% } %>
                </div>
            </div>
        <% } %>

    </div>

    <div class="col-md-6 col-xl-9">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mt-0">Motto</h4>

                <form action="/profile/update-motto" method="POST">
                    <div class="mb-3 row">
                        <label for="example-text-input" class="col-md-2 col-form-label">My Motto</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" value="<%= motto %>" name="motto" maxlength="50">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary waves-effect waves-light btn-block">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4 class="card-title mt-0">Play History</h4>
            </div>
            <div class="card-body">
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
                        <th>Session No</th>
                        <th>Session Name</th>
                        <th>Points</th>
                        <th>Rank</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <% result.forEach(function(ritem) { %>
                        <tr>
                            <th scope="row"><%= ritem.session_no %></th>
                            <td><%= ritem.session ? ritem.session.session_name : '' %></td>
                            <td><%= ritem.session_points %></td>
                            <td><%= ritem.session_rank %></td>
                            <td>
                                <button type="button" class="btn btn-outline-primary waves-effect waves-light btn-sm" data-sessNo="<%= ritem.session_no %>" onclick="viewRank(this)">
                                    <i class="fas fa-eye"></i> View
                                </button>
                            </td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Attendance Chart</h4>

                <div id="pie_chart" class="apex-charts" dir="ltr"></div>

                <p class="text-center" style="margin-top: 10px; margin-bottom: 0;">Attended: <%= (result.length / sessionCount * 100).toFixed(1) %>%</p>
                <p class="text-center">Not Attended: <%= (100 - result.length / sessionCount * 100).toFixed(1) %>%</p>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Session Players</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" id="profilePlayer">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>


<%- contentFor('BottomJs') %>
<script type="text/javascript">
    function viewRank(elem) {
        var sessNo = $(elem).data('sessno');
        $.ajax({
            type: 'GET',
            url: "/api/get-session-rank?sessNo=" + sessNo,
            dataType: "json",
            success: function(res) {
                console.log(res);
                let html = '<table class="table mb-0" id="profilePlayerTable"><thead><tr><th>No</th><th>Username</th><th>Telegram ID</th><th>Points</th><th>Rank</th><th>Title</th></tr></thead><tbody>';
                for (let i = 0; i < res.result.length; i ++) {
                    let item = res.result[i];
                    html += '<tr>';
                    html += '<th scope="row">' + (i + 1) +'</th>';
                    html += '<td><a href="javascript:void(0);" class="profile-right-bar-toggle" data-id="' + item.telegramId + '">' + item.username + '</a></td>';
                    html += '<td>' + item.telegramId + '</td>';
                    html += '<td>' + item.session_points + '</td>'
                    html += '<td style="display: flex;">';

                    if (item.session_rank == 1) {
                        html += '<img src="public/assets/images/gold-cup.png" style="width: 20px; height: 20px; margin-right: 5px;"/>';
                    } else if (item.session_rank == 2) {
                        html += '<img src="public/assets/images/silver-cup.png" style="width: 20px; height: 20px; margin-right: 5px;"/>';
                    } else if (item.session_rank == 3) {
                        html += '<img src="public/assets/images/third-cup.png" style="width: 20px; height: 20px; margin-right: 5px;"/>';
                    }

                    html += item.session_rank + '</td>';
                    html += '<td>' + item.title + '</td>'
                    html += '</tr>';
                }
                html += '</tbody></table>'

                $('#profilePlayer').html(html);
                $('#profilePlayerTable').DataTable();

                $('#myModal').modal('show');

                initProfileRightbar();
            }
        });
    }

    $(document).ready(function() {
        $('#datatable').DataTable();

        let allCount = '<%= sessionCount %>' * 1;
        let attendCount = '<%= result.length %>' * 1;

        console.log(allCount, attendCount);

        let options = {
            chart: {
                height: 320,
                type: 'pie',
            },
            series: [attendCount, allCount - attendCount],
            labels: ["Attended", "Not Attended"],
            colors: ["#34c38f", "#5b73e8"],
            legend: {
                show: true,
                position: 'bottom',
                horizontalAlign: 'center',
                verticalAlign: 'middle',
                floating: false,
                fontSize: '14px',
                offsetX: 0
            },
            responsive: [{
                breakpoint: 600,
                options: {
                    chart: {
                        height: 240
                    },
                    legend: {
                        show: false
                    },
                }
            }]

        }

        var chart = new ApexCharts(
            document.querySelector("#pie_chart"),
            options
        );

        chart.render();
    });
</script>
