<%- contentFor('HeaderCss') %>
<link href="public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="public/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Profile Page</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Minible</a></li>
                    <li class="breadcrumb-item active">Profile Page</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-md-6 col-xl-3">

        <!-- Simple card -->
        <div class="card">
            <img class="card-img-top img-fluid" src="public/assets/images/title/<%= user.title %>.jpg" alt="<%= user.username %>">
            <div class="card-body">
                <h4 class="card-title mt-0 text-center"><%= user.firstName + ' ' + user.lastName %></h4>
                <p class="card-text text-center">@<%= user.username %></p>
                <p class="card-text text-center">Telegram ID: <%= user.telegramId %></p>
                <% if (joinDate) { %>
                <p class="card-text text-center">Joined At: <%= moment(joinDate).format('YYYY-MM-DD') %></p>
                <% } %>
            </div>
        </div>

    </div>

    <div class="col-md-6 col-xl-9">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mt-0">Play History</h4>
            </div>
            <div class="card-body">
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
                        <th>Session No</th>
                        <th>Points</th>
                        <th>Rank</th>
                        <th>Title</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% result.forEach(function(ritem) { %>
                        <tr>
                            <th scope="row"><%= ritem.session_no %></th>
                            <td><%= ritem.session_points %></td>
                            <td><%= ritem.session_rank %></td>
                            <td><%= ritem.title %></td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>
<script src="public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="public/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="public/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="public/assets/libs/jszip/jszip.min.js"></script>
<script src="public/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="public/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="public/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="public/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="public/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<%- contentFor('BottomJs') %>
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').DataTable();
    });
</script>
