<%- contentFor('HeaderCss') %>
<link href="public/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="public/assets/libs/@chenfengyuan/datepicker/datepicker.min.css" rel="stylesheet" >

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Sessions</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Africa</a></li>
                    <li class="breadcrumb-item active">Sessions</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="searchForm">
                    <div class="mb-3 row" style="background: #dcdfff; padding: 10px;">
                        <label class="col-md-2 col-form-label text-end">Sort By</label>
                        <div class="col-md-2">
                            <select class="form-control" name="sort" onchange="submitSearchForm()">
                                <option value="0" <%= sort == 0 ? 'selected' : '' %>>Lastest session no</option>
                                <option value="1" <%= sort == 1 ? 'selected' : '' %>>Oldest session no</option>
                                <option value="2" <%= sort == 2 ? 'selected' : '' %>>Players DESC</option>
                                <option value="3" <%= sort == 3 ? 'selected' : '' %>>Players ASC</option>
                            </select>
                        </div>
                        <label class="col-md-2 col-form-label text-end">Delivered On</label>
                        <div class="col-md-4">
                            <div class="input-daterange input-group" id="datepicker6" data-date-format="yyyy-mm-dd" data-date-autoclose="true" data-provide="datepicker" data-date-container='#datepicker6'>
                                <input type="text" class="form-control" name="start" placeholder="Start Date" value="<%= start %>"/>
                                <input type="text" class="form-control" name="end" placeholder="End Date" value="<%= end %>"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Search</button>
                        </div>
                    </div>
                </form>

                <hr/>

                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                        <tr>
                            <th>Session No</th>
                            <th>Topic</th>
                            <th>Level</th>
                            <th>Players</th>
                            <th>Questions</th>
                            <th>Delivered On</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% sessions.forEach(function(session) { %>
                            <tr>
                                <th scope="row"><%= session.session_no %></th>
                                <td><%= session.session_name %></td>
                                <td><%= session.level %></td>
                                <td><%= session.players.length %></td>
                                <td><%= session.questions_no %></td>
                                <td><%= moment(session.session_start).format('YYYY-MM-DD') %></td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary waves-effect waves-light btn-sm" data-bs-toggle="modal" data-bs-target="#myModal<%= session.session_no %>">
                                        <i class="fas fa-eye"></i> View
                                    </button>
                                </td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="card-footer text-center d-flex justify-content-between">
                <label>Total Counts: <%= itemCount %></label>
                <%- include ('../Partials/Paginate')  %>
            </div>
        </div>
    </div>
</div>

<% sessions.forEach(function(session) { %>
    <div id="myModal<%= session.session_no %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myModalLabel">Session Players</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Username</th>
                                <th>Telegram ID</th>
                                <th>Points</th>
                                <th>Rank</th>
                                <th>Title</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% session.players.forEach(function(player, index) { %>
                                <tr>
                                    <th scope="row"><%= index + 1 %></th>
                                    <td><%= player.username %></td>
                                    <td><%= player.telegramId %></td>
                                    <td><%= player.session_points %></td>
                                    <td><%= player.session_rank %></td>
                                    <td><%= player.title %></td>
                                </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<% }); %>

<%- contentFor('FooterJs') %>
<script src="public/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="public/assets/libs/@chenfengyuan/datepicker/datepicker.min.js"></script>

<%- contentFor('BottomJs') %>
<script>
    function submitSearchForm() {
        $('#searchForm').submit();
    }
</script>
