<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="/" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/public/assets/images/logo-sm.png" alt="" height="30">
            </span>
            <span class="logo-lg">
                <img src="/public/assets/images/logo-light-own-trimmy.png" alt="" height="30">
            </span>
        </a>

        <a href="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="/public/assets/images/logo-sm-own.png" alt="" height="30">
            </span>
            <span class="logo-lg">
                <img src="/public/assets/images/logo-light-own-trimmy.png" alt="" height="30">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="/">
                        <i class="uil-user"></i>
                        <span><%=translation.Profile%></span>
                    </a>
                </li>

                <li>
                    <a href="/session">
                        <i class="uil-list-ul"></i>
                        <span><%=translation.Sessions%></span>
                    </a>
                </li>

                <li>
                    <a href="/rank">
                        <i class="uil-graph-bar"></i>
                        <span><%=translation.Ranks%></span>
                    </a>
                </li>

                <li>
                    <a href="/wallet">
                        <i class="uil-wallet"></i>
                        <span><%=translation.Wallet%></span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-user-check"></i>
                        <span><%=translation.Admin%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/gp"><%=translation.Great_Persons%></a></li>
                        <li><a href="/mission"><%=translation.Missions%></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
