<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <title><%- title %> | Minible - Admin & Dashboard Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
  <meta content="Themesbrand" name="author">
  <!-- App favicon -->
  <link rel="shortcut icon" href="public/assets/images/favicon.ico">

  <link href="public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="public/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

  <!-- Responsive datatable examples -->
  <link href="public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

  <%- HeaderCss %>
  <%- include ('./Partials/HeaderStyle')  %>

</head>

<body data-sidebar="dark">

  <!-- Begin page -->
  <div id="layout-wrapper">

    <%- include ('./Partials/Header')  %>
    <%- include ('./Partials/Sidebar')  %>

    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          <%- breadcrumb %>
          <%- body %>
        </div>
      </div>
      <%- include ('./Partials/Footer') %>
    </div>
  </div>

  <%- include ('./Partials/Rightbar')  %>
  <%- include ('./Partials/Loading')  %>
  <%- include ('./Partials/profileRightBar')  %>
  <%- include ('./Partials/VendorScript')  %>

  <script src="public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <!-- Buttons examples -->
  <script src="public/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="public/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
  <script src="public/assets/libs/jszip/jszip.min.js"></script>
  <script src="public/assets/libs/pdfmake/build/pdfmake.min.js"></script>
  <script src="public/assets/libs/pdfmake/build/vfs_fonts.js"></script>
  <script src="public/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="public/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="public/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

  <!-- Responsive examples -->
  <script src="public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

  <!-- apexcharts -->
  <script src="public/assets/libs/apexcharts/apexcharts.min.js"></script>

  <%- FooterJs %>

  <script src="public/assets/js/app.js"></script>

  <%- BottomJs %>
</body>

</html>
