<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Rank Page</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Africa</a></li>
                    <li class="breadcrumb-item active">Rank Page</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified bg-light" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link active" href="/rank">
                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                            <span class="d-none d-sm-block">Top 50</span>
                        </a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" href="/rank?tab=mine">
                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                            <span class="d-none d-sm-block">My Ranking</span>
                        </a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" href="/rank?tab=progress">
                            <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                            <span class="d-none d-sm-block">My Progress</span>
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-3 text-muted">
                    <div class="tab-pane active" id="home1" role="tabpanel">
                        <div class="float-start mt-1 mb-1">
                            <div class="dropdown">
                                <a class="dropdown-toggle text-reset" href="#" id="dropdownMenuButton5"
                                   data-bs-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    <span class="fw-semibold">Time Frame:</span> <span class="text-muted" id="periodText">All<i class="mdi mdi-chevron-down ms-1"></i></span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton5">
                                    <a class="dropdown-item" href="#" onclick="setPeriod(0)">All</a>
                                    <a class="dropdown-item" href="#" onclick="setPeriod(1)">Today</a>
                                    <a class="dropdown-item" href="#" onclick="setPeriod(2)">Last 7days</a>
                                    <a class="dropdown-item" href="#" onclick="setPeriod(3)">Last 1month</a>
                                </div>
                            </div>
                        </div>

                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Username</th>
                                <th>Telegram Id</th>
                                <th>Total Points</th>
                                <th>Title</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% results.forEach(function(result, index) { %>
                                <tr>
                                    <th scope="row"><%= index + 1 %></th>
                                    <td><%= result.username %></td>
                                    <td><%= result.telegramId %></td>
                                    <td><%= result.sum_point %></td>
                                    <td><%= result.title %></td>
                                </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <form id="periodForm">
                    <input type="hidden" id="period" name="period" />
                    <input type="hidden" name="tab" value="top" />
                </form>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>
<script type="text/javascript">
    let texts = ['All', 'Today', 'Last 7days', 'Last 1month'];

    function setPeriod(val) {
        $('#periodText').html(texts[val] + '<i class="mdi mdi-chevron-down ms-1"></i>');
        $('#period').val(val);
        $('#periodForm').submit();
    }

    $(document).ready(function() {
        $('#periodText').html(texts['<%= period %>' * 1] + '<i class="mdi mdi-chevron-down ms-1"></i>');
    });
</script>
