<%- contentFor('HeaderCss') %>
<link href="/public/assets/libs/jquery-toastr-plugin/jquery.toast.min.css" rel="stylesheet" type="text/css" />

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Tournament</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Africa</a></li>
                    <li class="breadcrumb-item active">Tournament</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-img-top" style="position: relative">
                <div style="position: relative">
                    <img src="/uploads/<%= tournament.banner %>" style="width: 100%; height: 200px;"/>

                    <div class="tournament-title">
                        <%= tournament.name %>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="alert alert-primary" role="alert">
                            Awards
                        </div>

                        <div class="tournament-view">
                            <div class="award-box">
                                <img src="/uploads/<%= tournament.award_1 %>" style="width: 200px; height: 200px; border-radius: 50%" class="award-img"/>

                                <div style="width: 200px; text-align: center; margin-top: 10px;">
                                    <%= tournament.gains_1 %> <img src="/public/assets/images/fortuna-icon.jpg" style="height: 30px; margin-left: 10px;"/>
                                </div>
                            </div>

                            <div class="award-box">
                                <img src="/uploads/<%= tournament.award_2 %>" style="width: 200px; height: 200px; border-radius: 50%" class="award-img"/>

                                <div style="width: 200px; text-align: center; margin-top: 10px;">
                                    <%= tournament.gains_2 %> <img src="/public/assets/images/fortuna-icon.jpg" style="height: 30px; margin-left: 10px;"/>
                                </div>
                            </div>

                            <div class="award-box">
                                <img src="/uploads/<%= tournament.award_3 %>" style="width: 200px; height: 200px; border-radius: 50%" class="award-img"/>

                                <div style="width: 200px; text-align: center; margin-top: 10px;">
                                    <%= tournament.gains_3 %> <img src="/public/assets/images/fortuna-icon.jpg" style="height: 30px; margin-left: 10px;"/>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="alert alert-primary" role="alert">
                            Stages
                        </div>

                        <div class="mb-3 row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Qualifier</label>
                            <div class="col-md-5">
                                <input class="form-control format-date-input" type="text" value="<%= tournament.qualifier.start %>" id="example-text-input">
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" value="<%= tournament.qualifier.qualified %>">
                            </div>
                            <label for="example-text-input" class="col-md-2 col-form-label">will qualify</label>
                        </div>

                        <div class="mb-3 row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Quarterfinals</label>
                            <div class="col-md-5">
                                <input class="form-control format-date-input" type="text" value="<%= tournament.quarterfinal.start %>" id="example-text-input">
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" value="<%= tournament.quarterfinal.qualified %>">
                            </div>
                            <label for="example-text-input" class="col-md-2 col-form-label">will qualify</label>
                        </div>

                        <div class="mb-3 row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Semifinals</label>
                            <div class="col-md-5">
                                <input class="form-control format-date-input" type="text" value="<%= tournament.semifinal.start %>" id="example-text-input">
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" value="<%= tournament.semifinal.qualified %>">
                            </div>
                            <label for="example-text-input" class="col-md-2 col-form-label">will qualify</label>
                        </div>

                        <div class="mb-5 row">
                            <label for="example-text-input" class="col-md-2 col-form-label">
                                <img src="public/assets/images/gold-cup.png" style="width: 20px; height: 20px; margin-right: 5px; visibility: visible;" data-xblocker="passed"> Finals
                            </label>
                            <div class="col-md-5">
                                <input class="form-control format-date-input" type="text" value="<%= tournament.final.start %>" id="example-text-input">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="example-text-input" class="col-md-4 col-form-label">Enrollment fee</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" value="<%= tournament.price %>" id="example-text-input">
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary waves-effect waves-light <%= isSlot ? 'hidden' : '' %>"  id="btnEnroll">Enroll</button>
                                <a href="/tournament/slot?id=<%= tournament._id %>" class="btn btn-primary waves-effect waves-light <%= isSlot ? '' : 'hidden' %>" id="btnSlot">See Slots</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>
<script src="/public/assets/libs/jquery-toastr-plugin/jquery.toast.min.js"></script>
<%- contentFor('BottomJs') %>
<script type="text/javascript">
    let tournamentId = '<%= tournament._id %>';
    $('#btnEnroll').on('click', function() {
        $.ajax({
            type: 'post',
            url: "/tournament/enroll",
            dataType: "json",
            data: {
                tournament_id: tournamentId
            },
            success: function(res) {
                if (res.result === 'fail') {
                    $.toast(res.msg);
                } else {
                    $('#btnEnroll').addClass('hidden');
                    $('#btnSlot').removeClass('hidden');
                }
            }
        });
    });
</script>