<%- contentFor('HeaderCss') %>
<link href="/public/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/public/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css"/>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Post New Offer</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Africa</a></li>
                    <li class="breadcrumb-item"><a href="/market">Skills Market</a></li>
                    <li class="breadcrumb-item active">Post New Offer</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-12">
        <div class="mt-5 mt-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <form class="custom-validation" action="/market/create-offer" method="POST" novalidate>
                                <div class="row mb-4">
                                    <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Select Skill</label>
                                    <div class="col-sm-9">
                                        <select class="form-control select2" name="skill" id="offer-skill">
                                            <option value="" disabled selected>Select Skill</option>
                                            <% Object.keys(mySkills).forEach(function(skill) { %>
                                                <option value="<%= skill %>" data-image="/public/assets/images/skills/<%= skill %>.png"><%= skill %></option>
                                            <% }); %>
                                        </select>

                                        <p>I have <span id="skillPoint" style="color: red"></span> points</p>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <label for="offer-points" class="col-sm-3 col-form-label">I sell</label>
                                    <div class="col-sm-9" style="display: flex; justify-content: space-between; align-items: center">
                                        <div style="width: 100%;">
                                            <input type="text" class="form-control" id="offer-points" name="points" step="0.1" required min="1">
                                        </div>
                                        <img src="/public/assets/images/fortuna-icon.jpg" style="height: 30px; margin-left: 10px;"/>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <label for="offer-price" class="col-sm-3 col-form-label">Price per point</label>
                                    <div class="col-sm-9" style="display: flex; justify-content: space-between; align-items: center">
                                        <div style="width: 100%;">
                                            <input type="text" class="form-control" id="offer-price" name="price">
                                        </div>
                                        <img src="/public/assets/images/fortuna-icon.jpg" style="height: 30px; margin-left: 10px;"/>
                                    </div>
                                </div>

                                <hr/>

                                <div class="row mb-4">
                                    <div class="col-12 text-end">
                                        Total Price: <span id="total-price">10</span>
                                    </div>
                                </div>

                                <div class="row justify-content-end">
                                    <div class="col-sm-9">
                                        <div>
                                            <button type="submit" class="btn btn-primary w-md">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>
<script src="/public/assets/libs/parsleyjs/parsley.min.js"></script>
<script src="/public/assets/libs/select2/js/select2.min.js"></script>
<script src="/public/assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

<%- contentFor('BottomJs') %>
<script>
    let ms = {};
    let pointSlider = null;
    <% Object.keys(mySkills).forEach(function(skill) { %>
        ms['<%= skill %>'] = '<%= mySkills[skill] %>' * 1;
    <% }); %>

    function formatState (opt) {
        if (!opt.id) {
            return opt.text.toUpperCase();
        }

        let optimage = $(opt.element).attr('data-image');
        if(!optimage){
            return opt.text.toUpperCase();
        } else {
            let $opt = $(
                '<span><img src="' + optimage + '" height="30px" style="margin-right: 10px;"/> ' + opt.text.toUpperCase() + '</span>'
            );
            return $opt;
        }
    }

    function calcPrice() {
        let points = $('#offer-points').val();
        let price = $('#offer-price').val();
        $('#total-price').html((points * price).toFixed(1));
    }

    $(document).ready(function() {
        $(".select2").select2({
            templateResult: formatState,
            templateSelection: formatState
        });

        $('.custom-validation').parsley();

        $('#offer-skill').on('change', function() {
            console.log('ssss');
            let maxPoints = ms[$(this).val()];
            // $('#offer-points').attr('max', maxPoints);
            pointSlider.update({
                max: maxPoints
            });

            $('#skillPoint').html(maxPoints);
            pointSlider.reset();
        });

        $('#offer-points').on('change', function() {
            calcPrice();
        })

        $('#offer-price').on('change', function() {
            calcPrice();
        })

        $("#offer-points").ionRangeSlider({
            skin: "round",
            min: 1,
            step: 0.1
        });
        $("#offer-price").ionRangeSlider({
            skin: "round",
            min: 10,
            max: 100,
            step: 0.1
        });

        pointSlider = $("#offer-points").data("ionRangeSlider");
    });
</script>
