<%- contentFor('HeaderCss') %>
<link href="/public/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css"/>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Skill Market</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Africa</a></li>
                    <li class="breadcrumb-item active">Skill Market Page</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Skills Market</h4>
                <p class="card-title-desc">Buy, Rent, Create Offer</p>

                <% if(error.length> 0) { %>
                    <div class="alert alert-danger alert-dismissible mb-4 flash" role="alert">
                        <%= error %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                <% } %>
                <% if(message.length> 0) { %>
                    <div class="alert alert-success alert-dismissible mb-4 flash" role="alert">
                        <%= message %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                <% } %>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#home1" role="tab">
                            <span class="d-block d-sm-none"><i class="uil-shopping-cart-alt"></i></span>
                            <span class="d-none d-sm-block">Buy</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#profile1" role="tab">
                            <span class="d-block d-sm-none"><i class="uil-dollar-alt"></i></span>
                            <span class="d-none d-sm-block">Rent</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#messages1" role="tab">
                            <span class="d-block d-sm-none"><i class="uil-gift"></i></span>
                            <span class="d-none d-sm-block">My Offers</span>
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content text-muted" style="padding-top: 20px;">
                    <div class="tab-pane active" id="home1" role="tabpanel">
                        <%- include ('./_buys')  %>
                    </div>
                    <div class="tab-pane" id="profile1" role="tabpanel">
                        <%- include ('./_greats')  %>
                    </div>
                    <div class="tab-pane" id="messages1" role="tabpanel">
                        <%- include ('./_offers')  %>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>
<script src="/public/assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

<%- contentFor('BottomJs') %>
<script>
    let buyIndex = 0;

    function initBuyLoadMore() {
        $('#buysLoadMore').on('click', function() {
            buyIndex ++;
            let totalCount = $(this).data('totalcount');
            $.ajax({
                type: 'POST',
                url: "/market/load-more-buys",
                data: {
                    page: buyIndex,
                    filter: $('#buySearchSkill').val(),
                    key: $('#buySearchKey').val()
                },
                success: function(res) {
                    $('#buy-item-container').append(res);
                    if (totalCount < (buyIndex + 1) * 15) {
                        $('#buysLoadMore').removeClass('hidden');
                    }
                }
            });
        });
    }

    $(document).ready(function() {
        $('.buy-points').each(function () {
            console.log($(this));
            $(this).ionRangeSlider({
                skin: "round",
                max: $(this).attr('max') * 1,
                step: 0.1,
                min: 0.1
            })
        });

        $('.buy-points').on('change', function() {
            let price = $(this).data('price');
            let amount = $(this).val();
            let total = price * amount;
            $(this).closest('tbody').find('.total-price').html(total.toFixed(1) + '<img src="/public/assets/images/fortuna-icon.jpg" style="width: 20px; margin-left: 10px" />');
        })

        $('#searchBuys').on('click', function() {
            $.ajax({
                type: 'POST',
                url: "/market/search-buys",
                data: {
                    page: buyIndex,
                    filter: $('#buySearchSkill').val(),
                    key: $('#buySearchKey').val()
                },
                success: function(res) {
                    buyIndex = 0;
                    $('#buy-container').html(res);
                    $('#marketSkillTable').DataTable();
                }
            });
        });

        $('#marketSkillTable').DataTable();
        $('#greatTable').DataTable();

        $('.delete-offer').on('click', function() {
            let id =  $(this).data('id');
            bootbox.confirm({
                title: "Cancel Offer?",
                message: "Do you want to cancel offer? This cannot be undone.",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: 'POST',
                            url: "/market/remove-offer",
                            data: {
                                id: id
                            },
                            success: function(res) {
                                window.location.reload();
                            }
                        });
                    }
                }
            });
        });
    })
</script>