<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Great Persons</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Africa</a></li>
                    <li class="breadcrumb-item active">Great Persons Page</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                    <h4 class="card-title">Great Persons List</h4>

                    <a href="/gp/add" class="btn btn-primary waves-effect waves-light">Add New</a>
                </div>

                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Icon</th>
                            <th>Name</th>
                            <th>Field</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% persons.forEach(function(person, index) { %>
                            <tr>
                                <td scope="row"><%= index + 1 %></td>
                                <td><img src="/uploads/<%= person.icon %>" style="height: 40px; border-radius: 50px; width: 40px;"/></td>
                                <td><%= person.name %></td>
                                <td><%= person.field %></td>
                                <td><%= person.price %></td>
                                <td>
                                    <button class="btn btn-primary waves-effect waves-light send-market <%= person.status == 1 ? '' : 'hidden' %>" data-id="<%= person._id %>">
                                        To Market <i class="uil uil-arrow-right ms-2"></i>
                                    </button>

                                    <button class="btn btn-danger waves-effect waves-light suspend <%= person.status == 2 ? '' : 'hidden' %>" data-id="<%= person._id %>">
                                        Suspend <i class="uil uil-exclamation-octagon me-2"></i>
                                    </button>

                                    <a class="btn btn-info waves-effect waves-light" href="/gp/edit?id=<%= person._id %>">
                                        Update <i class="uil uil-edit-alt me-2"></i>
                                    </a>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>

<script>
    $(document).ready(function() {
        $('#datatable').DataTable();

        $('.send-market').on('click', function() {
            let id = $(this).data('id');
            let elem = this;
            $.ajax({
                type: 'Get',
                url: "/gp/send-market?id=" + id,
                dataType: "json",
                success: function(res) {
                    $(elem).closest('td').find('.suspend').removeClass('hidden');
                    $(elem).addClass('hidden');
                }
            });
        })

        $('.suspend').on('click', function() {
            let id = $(this).data('id');
            let elem = this;
            $.ajax({
                type: 'Get',
                url: "/gp/suspend?id=" + id,
                dataType: "json",
                success: function(res) {
                    $(elem).closest('td').find('.send-market').removeClass('hidden');
                    $(elem).addClass('hidden');
                }
            });
        })
    });
</script>
